.topBar{
    background-color: rgb(209, 255, 206);
    width: 100dvh;
    height: 20dvh;
    position: relative;
    align-content: center;
    font-size: small;
    color: green;
}

.topBarLink{
    padding-right: 40px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: green;

}

.outletContent{
    padding-left: 10px;
    height: 80dvh;
    width: 99dvh;
    position:relative;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    color: green;
    border-style: solid;
    border-color: rgb(136, 255, 134);
    border-radius: 10px;

}