.topBar{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 5dvh;
    position: absolute;
    text-align: center;
    font-size: small;
    color: green;
}

.topBarLink{
    padding-right: 40px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: green;

}

.outletContent{
    padding-left: 10px;
    height: 80dvh;
    width: 99dvh;
    position: absolute;
    top: 15dvh;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    color: green;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 10px;

}