a {
    text-decoration: none;
    color:darkblue;
  }

#contentBox {
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 25%;
    background-color: antiquewhite;
    width: 70%;
    height: 100%;
    padding-left: 5%;

}

#navBar {
    left: 0%;
    top: 0%;
    width: 25%;
    height: 100%;
}

#hitButton {
    background-color: green;
}


#standButton {
    background-color: red;
}